<form action="/tweets/<%=@tweet.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Content:
  <input type="text" name="content" value="<%=@tweet.content%>"><br>
  Create Your Tweet:
<<<<<<< HEAD
  <input type="submit" id="submit" value="Edit Tweet">
=======
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Edit Tweet">
>>>>>>> bf1b6367285a4e5aa08876976a5fb30d083d4006
</form>
